alembic==0.9.8
Flask_Migrate==2.1.1
lxml==4.6.5
Flask_Script==2.0.6
Flask_SQLAlchemy==2.3.2
Flask_Mail==0.9.1
shortuuid==0.5.0
Flask_Cors==3.0.7
Flask_WTF==0.14.2
itsdangerous==0.24
Flask_RESTful==0.3.6
Werkzeug==0.14.1
WTForms==2.1
Flask==0.12.2
oss2==2.4.0
redis==2.10.6
requests==2.18.4
celery==4.2.1
SQLAlchemy==1.2.5
